@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url(https://db.onlinewebfonts.com/c/ac20dadb811c9e3dbc05a6373b1fe6ce?family=ManifaPro2+Regular);
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "ManifaPro2 Regular";
}

